
/* styles.css */
body{
font-family: "Kalnia", serif;
font-weight: 300;
font-size: 15px;
line-height: 1.7;
overflow-x: hidden;
height: 100vh;
margin: 0;
background-size: 200% 300%;
background-image: radial-gradient(at 30% -5%, #92f2f2, #d6cff1, rgba(255, 255, 255, 0) 25%), radial-gradient(at 50% 70%, #c4f2e5, rgba(255, 255, 255, 0) 30%), radial-gradient(at 70% 0%, #d6cff1, rgba(255, 255, 255, 0) 20%), linear-gradient(75deg, #92f2f2 5%, rgba(255, 255, 255, 0), #a8d0f0, rgba(255, 255, 255, 0), #eed5f2, rgba(255, 255, 255, 0), #d6cff1, rgba(255, 255, 255, 0), #c4f2e5 90%), radial-gradient(at 30% 50%, #92f2f2, rgba(255, 255, 255, 0) 30%), radial-gradient(at 30% 50%, #9cb9fc, rgba(255, 255, 255, 0) 30%), radial-gradient(at 100% 50%, #92f2f2, #c2dcf2, rgba(255, 255, 255, 0) 50%), linear-gradient(115deg, #92F2F2 0%, #A8D0F0 0%, #D3CFF1 7.2%, #EED5F2 20%, #F0C7A8 27.9%, #D6CFF1 34.6%, #A8D0F0 38.1%, #C2DCF2 44.6%, #FBC0EF 51.1%, #F0A8BE 70%, #F0C0A8 85.1%);    animation: gradient 7s ease infinite;
}

@keyframes gradient {
0% {
    background-position: 100% 0%;
}
50% {
    background-position: 50% 100%;
}
}
header {
    background-color: #343a40;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
